.env.local
/.env.local
*~
*.swp
tmp/
npm-debug.log
.DS_Store
*report
.build/*
.next
.vscode/
node_modules/
.coverage
.env
.next
server/models/.Exercises.js
server/models/.UserProfiles.js
.todo
*.log
.env
/test
